// ======
// COLORS
// ======

$primary-200: #db8876;
$primary-300: #d3573c;
$primary-700: #901c1c;

$neutral-100: #fafafa;
$neutral-300: #c4c4c4;
$neutral-700: #525252;
$neutral-900: #333;

// =====
// FONTS
// =====

$font-primary: "DM Sans", Arial, Helvetica, sans-serif;

// =======================
// TEXT AND HEADINGS SIZES
// =======================

$txt-size: 1rem;

$xs-size: 0.7 * $txt-size;
$sm-size: 0.85 * $txt-size;

$h6-size: 1.15rem;
$h5-size: 1.25rem;
$h4-size: 1.35rem;
$h3-size: 1.5rem;
$h2-size: 2.25rem;
$h1-size: 4rem;

// =========
// Z-INDEXES
// =========

$z-ground: 0;
$z-in-front: 1000;
$z-dropdown: 2000;
$z-nav-secondary: 3000;
$z-header-footer: 4000;
$z-nav-primary: 5000;
$z-fullscreen-functionality: 6000;
$z-special-case: 7000;
$z-modal: 8000;
$z-notification: 9000;

// ===========
// BREAKPOINTS
// ===========

$small-breakpoint: 880px;
$medium-breakpoint: 1240px;
$large-breakpoint: 1440px;

$small-container-width: 640px;
$large-container-width: 1440px;
