// ======
// COLORS
// ======

$primary-300: #d3573c;
$primary-700: #901c1c;

$neutral-100: #fafafa;
$neutral-700: #525252;
$neutral-900: #333;

// =====
// FONTS
// =====

$font-primary: "DM Sans", Arial, Helvetica, sans-serif;

// ===========
// BREAKPOINTS
// ===========

$small-breakpoint: 1440px;
$medium-breakpoint: 1440px;
$large-breakpoint: 1440px;
