.p-home {
  position: relative;

  header nav {
    padding: 3.25rem 2rem;
  }

  h1 {
    position: absolute;
    right: 2rem;
    top: 1.25rem;

    color: $primary-700;
    font-size: $h2-size;
  }

}

// TO REFACTOR:
#photographer-cards {
  display: flex;
}
