.p-photographer main {
  padding: 0 1.75rem;
}

.p-banner {
  padding: 2.5rem 3rem;

  background: $neutral-100;

  &__location {
    color: $primary-700;
    font-size: $h3-size;
  }

  &__tagline {
    margin: 2rem 0 1.5rem 0;

    font-size: $h6-size;
  }

  ul {
    justify-content: left;
  }

  &__portrait {
    text-align: right;

    img {
      margin: 2rem 0;
      border-radius: 50%;

      object-fit: cover;
    }
  }
}

.p-dropdown {
  display: flex;
  position: relative;
  z-index: $z-dropdown;

  margin: 1.5rem 0 4rem 0;

  label {
    font-size: $h6-size;
    font-weight: 700;
  }

  .p-dropdown__option {
    display: none;

    &.displayed {
      display: block;
    }

    &.selected-filter {
      background: $primary-200;
    }
  }
}

.p-photographer-summary {
  position: fixed;
  right: 2rem;
  bottom: 0;

  padding: 1.25rem 2rem;
  border-radius: 0.25rem 0.25rem 0 0;

  font-size: $h3-size;

  background: $primary-200;

  i {
    margin-right: 3rem;
  }
}
