.c-btn {
  border: none;
  border-radius: 0.25rem;

  font-weight: 700;

  background: $primary-300;

  cursor: pointer;

  &--cta {
    margin: 2rem;
    padding: 1.25rem;

    color: white;
    font-size: $h5-size;
    font-weight: 700;

    background: $primary-700;
  }
}

#up-button {
  position: fixed;
  top: 0.25rem;
  left: calc(50% - 5rem);

  width: 10rem;
  height: 0;
  padding: 0;
  overflow: hidden;

  color: black;
  text-align: center;

  opacity: 0;

  transition: color 250ms, height 50ms, opacity 400ms;

  &:hover {
    color: $neutral-100;
  }

  &.visible {
    height: auto;
    padding: 0.5rem;

    opacity: 1;
  }
}
