.c-photographer-card {
  margin: 2rem 0 1rem 0;

  text-align: center;

  img {
    border-radius: 50%;

    object-fit: cover;
  }

  &__location {
    color: $primary-700;
    font-size: $h5-size;
  }

  &__tagline {
    font-size: $h6-size;
    font-weight: 500;
  }

  nav {
    padding: 1rem 2rem;
  }
}

.c-medium-card {
  margin: 1rem 0;

  color: $primary-700;
  font-size: $h3-size;
  font-weight: 500;
  text-align: center;

  &__img {
    position: relative;

    cursor: pointer;

    img {
      border-radius: 0.25rem;

      object-fit: cover;
    }

    i {
      position: absolute;
      top: 4.5rem;
      left: calc(50% - 5rem);
      z-index: $z-in-front;

      color: white;
      font-size: 10rem;

      opacity: 0.6;
    }
  }

  &__infos {
    padding: 0 2rem;
  }

  h2 {
    margin: 0.5rem 0;
    padding-right: 0.5rem;
    overflow: hidden;

    color: $primary-700;
    text-align: left;
    text-overflow: ellipsis;
    font-size: $h3-size;
    font-weight: 400;
    white-space: nowrap;
  }

  button {
    margin-top: 1px;
    padding: 0;
    height: 2.5rem;

    color: $primary-700;
    font-weight: 500;

    background: white;

    transition: color 300ms;

    &:hover {
      color: lighten($primary-700, 20);
    }
  }
}
