.c-tag {
  margin: 0.25rem;
  padding: 0.125rem 0.5rem;
  border: 1px solid $neutral-300;
  border-radius: 1rem;

  transition: background-color 250ms, border-color 250ms;

  a {
    color: $primary-700;

    transition: color 250ms;
  }

  &:hover,
  &--checked {
    border-color: $primary-700;

    background: $primary-700;

    a {
      color: white;
    }
  }
}
