.c-logo__box {
  padding: 2.5rem 1.75rem;
}

@media (max-width: $medium-breakpoint - 1) {
  .c-logo__box {
    padding: 2rem 0;
  }

  .c-logo__img {
    width: auto;
    height: 2rem;
  }
}

@media (max-width: $small-breakpoint - 1) {
  .c-logo__box {
    padding: 1.5rem 0 0.5rem 0;
  }
}
