.c-modal__background {
  display: none;
  position: fixed;
  top: 0;
  z-index: $z-modal;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  &.displayed {
    display: block;
  }
}

.c-modal__window {
  position: relative;
  z-index: $z-modal + 100;

  width: fit-content;
  margin: 1rem auto;
  border-radius: 0.25rem;
  overflow: hidden;

  color: $primary-700;

  background: white;
}

#close-icon {
  position: absolute;
  top: 2rem;
  right: 1.25rem;

  width: 3rem;
  height: 3rem;

  cursor: pointer;

  &::after,
  &::before {
    position: absolute;
    left: 1rem;

    width: 0.5rem;
    height: 2.5rem;
    border-radius: 0.15rem;

    content: " ";

    background: $primary-700;

    transition: background-color 300ms;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &.light-icon::after,
  &.light-icon::before {
    background: white;
  }

  &:hover::after,
  &:hover::before {
    background: lighten($primary-700, 10);
  }

  &.light-icon:hover::after,
  &.light-icon:hover::before {
    background: $neutral-900;
  }
}

.c-media-modal {
  max-width: 70rem;
  height: 100%;
  padding: 1rem 0;

  &__carousel {
    display: flex;
    justify-content: space-between;

    max-height: calc(100% - 2.5rem);
    overflow: hidden;

    .icon-wrapper {
      display: flex;
      align-items: center;

      padding: 1.5rem;
    }

    i {
      font-size: $h1-size;

      cursor: pointer;

      &:hover {
        color: lighten($primary-700, 10);
      }
    }
  }

  &__medium {
    height: 100%;
    border-radius: 0.25rem;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  h2 {
    margin: 0.5rem 5.5rem 0 5.5rem;
    overflow: hidden;

    color: $primary-700;
    text-overflow: ellipsis;
    font-size: $h3-size;
    white-space: nowrap;
  }
}

.c-contact-modal {
  width: 40rem;
  padding: 1rem 2rem;

  color: black;

  background: $primary-200;

  h1 {
    margin: 0 0 1rem 0;

    color: black;
  }

  label,
  input {
    display: block;
  }

  label {
    margin: 1rem 0 0.5rem 0;

    font-size: $h2-size;
  }

  input,
  textarea {
    width: 100%;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 0.25rem;

    font-size: $h3-size;
  }

  textarea {
    resize: none;
  }

  .c-btn {
    margin: 1.5rem 0 1rem 0;
  }
}
